Repository dzangolab/react, pull requests merged in 2023-03, with the labels that each got.

#184 refactor: disable side bar for non logged-in user
  apps/demo/package.json
  apps/demo/src/config.ts
  packages/user/src/layouts/UserEnabledAdminLayout.tsx
  pnpm-lock.yaml
Labels: User

#190 User/refactor/dropdown user menu style
  packages/i18n/src/css/locale-switcher.css
  packages/user/src/assets/css/dropdownUserMenu.css
Labels: fix

#207 refactor(user): fix the varirable name
  packages/user/src/components/SignupForm.tsx
Labels: fix

#211 feat(layout): fix toggle bug
  packages/layout/src/css/components/app-header.css
Labels: fix

#208 feat: add react-router dependency
  packages/ui/package.json
  packages/ui/src/ResponsiveMenu/index.tsx
  packages/user/package.json
  pnpm-lock.yaml
Labels: enhancement, UI

#206 refactor(user): rename user-enabled-adminlayout into user-enabled-sid…
  packages/user/src/index.ts
  packages/user/src/layouts/UserEnabledSidebarLayout.tsx
Labels: User

#186 feat: add main-menu to app header
  apps/demo/src/Routers.tsx
  apps/demo/src/Views/ErrorBoundary/ErrorBoundary.css
  apps/demo/src/Views/ErrorBoundary/__test__/ErrorBoundary.snapshot.test.tsx
  apps/demo/src/Views/ErrorBoundary/__test__/ErrorBoundary.test.tsx
  apps/demo/src/Views/ErrorBoundary/__test__/__snapshots__/ErrorBoundary.snapshot.test.tsx.snap
  apps/demo/src/Views/ErrorBoundary/index.tsx
  apps/demo/src/Views/Home/Home.css
  apps/demo/src/Views/Home/Home.test.tsx
  apps/demo/src/Views/Home/index.tsx
  apps/demo/src/Views/ListPage/index.tsx
  apps/demo/src/config.ts
  apps/demo/src/layouts/BasicLayout.tsx
  apps/demo/src/locales/en/app.json
  apps/demo/src/locales/en/index.ts
  apps/demo/src/locales/en/locales.json
  apps/demo/src/locales/en/user.json
  apps/demo/src/locales/fr/app.json
  apps/demo/src/locales/fr/index.ts
  apps/demo/src/locales/fr/locales.json
  apps/demo/src/locales/fr/user.json
Labels: Demo App

#215 feat: users page
  packages/user/src/components/RedirectionMessage.tsx
  packages/user/src/index.ts
  packages/user/src/views/UsersPage.tsx
Labels: enhancement, User

#214 refactor(demo): remove imports from redux in main file
  apps/demo/src/main.tsx
Labels: Demo App

#216 fix(user): solve lint warnings
  packages/ui/vite.config.ts
  packages/user/src/components/DropdownUserMenu.tsx
  packages/user/src/components/UserMenu.tsx
  packages/user/src/index.ts
  packages/user/vite.config.ts
Labels: fix

#213 User/feat/password confirmation widget
  packages/i18n/src/locales/en/user.json
  packages/i18n/src/locales/fr/user.json
  packages/user/src/components/ChangePasswordForm.tsx
  packages/user/src/components/PasswordConfirmation.tsx
  packages/user/src/components/ResetPasswordForm.tsx
  packages/user/src/components/SignupForm.tsx
  packages/user/src/components/__test__/__snapshots__/ChangePasswordForm.snapshot.test.tsx.snap
  packages/user/src/components/schemas/PasswordConfirmation.ts
  packages/user/src/components/schemas/index.ts
  packages/user/src/views/Signup.tsx
Labels: enhancement, User

#234 fix(ui/table): hide pagination buttons when only single page available on table
  packages/ui/src/Table/__test__/__snapshots__/BaseTable.snapshot.test.tsx.snap
  packages/ui/src/Table/__test__/__snapshots__/TableDetail.snapshot.test.tsx.snap
  packages/ui/src/Table/common/Pagination.tsx
  packages/ui/src/Table/common/TableDetail.tsx
Labels: fix, UI

#238 refactor(ui): add margin in the title of page
  packages/ui/src/Page/page.css
Labels: UI

#236 refactor(ui): rename the LoadingButton Component to SubmitButton comp…
  packages/ui/src/Buttons/SubmitButton/__test__/SubmitButton.snapshot.test.tsx
  packages/ui/src/Buttons/SubmitButton/__test__/SubmitButton.test.tsx
  packages/ui/src/Buttons/SubmitButton/__test__/__snapshots__/SubmitButton.snapshot.test.tsx.snap
  packages/ui/src/Buttons/SubmitButton/index.tsx
  packages/ui/src/Buttons/SubmitButton/submitButton.css
  packages/ui/src/Buttons/index.ts
  packages/ui/src/index.ts
  packages/user/src/components/ChangePasswordForm.tsx
  packages/user/src/components/ForgetPasswordForm.tsx
  packages/user/src/components/LoginForm.tsx
  packages/user/src/components/ResetPasswordForm.tsx
  packages/user/src/components/SignupForm.tsx
  packages/user/src/components/__test__/__snapshots__/ChangePasswordForm.snapshot.test.tsx.snap
  packages/user/src/components/__test__/__snapshots__/ForgetPasswordForm.snapshot.test.tsx.snap
  packages/user/src/components/__test__/__snapshots__/LoginForm.snapshot.test.tsx.snap
  packages/user/src/components/__test__/__snapshots__/ResetPasswordForm.snapshot.test.tsx.snap
  packages/user/src/components/__test__/__snapshots__/SignupForm.snapshot.test.tsx.snap
Labels: UI

#221 refactor(user): add translation to invalid credential error
  packages/user/src/supertokens/login.ts
  packages/user/src/views/Login.tsx
Labels: User

#240 fix(layout): edit sidebar style
  packages/layout/src/assets/css/components/sidebar.css
Labels: fix, Layout
